.page {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  font-size: font-size(base);
  line-height: font-lh(base);
  color: $font-color-base;
  min-height: 100vh;
  background-color: $bg-color-body;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: right;
  background-attachment: fixed;

  @media ($mobile) {
    background: none;
  }
}
