.container {
  width: auto;
  padding: padding(container-d);
  margin: 0 auto;

  @media ($tablet) {
    position: relative;
    padding: padding(container-t);
  }

  @media ($mobile) {
    padding: padding(container-m);
    min-width: $mobile-width;
  }
}
